* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    
}

.background {
    background-image: url('fondo1.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.formulario h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 28px;
}

.input-contenedor {
    position: relative;
    margin-bottom: 20px;
}

.input-contenedor input {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.opciones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #ffff;
}

.opciones a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.boton {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background-color: #eb7c15;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.boton:hover {
    transform: scale(1.1);
    transition: 1s;
}

.crear-cuenta {
    color: white;
    font-size: 14px;
}

.crear-cuenta a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.crear-cuenta a:hover {
    text-decoration: underline;
}
