* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('fondo2.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.navbar {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar img {
    height: 70px; 
    transition: 0.5s;
  }

  .navbar img:hover{
    transform: scale(1.05);
  }

.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.formulario h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
}

.input-contenedor {
    position: relative;
    margin-bottom: 20px;
}

.input-contenedor input {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.opciones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #ffff;
}

.opciones a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.boton {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.boton:hover {
    transform: scale(1.05)
}

.crear-cuenta {
    color: #333;
    font-size: 14px;
}

.crear-cuenta a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.crear-cuenta a:hover {
    text-decoration: underline;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #2599bd;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.row .grupo-2{
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.row .grupo-2 small{
  font-size: 15px;
}

@media(max-width: 767px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
  width: 100%;
}
}

.slider-frame {
width: 1280px;
  height: auto;
margin:50px auto 0;
overflow: hidden;
}

.slider-frame ul {
display: flex;
padding: 0;
width: 400%;

animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
width: 100%;
list-style: none;
}

.slider-frame img {
width: 100%;
}

@keyframes slide {
0% {margin-left: 0;}
20% {margin-left: 0;}

25% {margin-left: -100%;}
45% {margin-left: -100%;}

50% {margin-left: -200%;}
70% {margin-left: -200%;}

75% {margin-left: -300%;}
100% {margin-left: -300%;}
}